@font-face {
  font-family: Noto Sans;
  src: url(./assets/fonts/NotoSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Nunito;
  src: url(./assets/fonts/Nunito-Regular.ttf) format("truetype");
}

@import "tailwindcss";
/* --- Custom Tailwind theme --- */
@theme {
  --font-noto: "Noto Sans", sans-serif;
  /* Backgrounds */
  --bg-body: #f2f3f4;
  --bg-header: #f8f9f9;

  /* Text */
  --text-body: #2c3e50;
  --text-sub: #7f8c8d;

  /* Buttons / Highlights */
  --color-primary: #5dade2;
  --color-primary-hover: #aed6f1;

  /* Status messages */
  --color-error: #e74c3c;
  --color-success: #7dcea0;
}

/* --- Global Styles --- */
h1,
h2,
h3 {
  font-family: var(--font-noto);
  color: var(--text-body);
}

p,
label,
input,
textarea,
select,
span {
  font-family: Nunito, sans-serif;
  font-size: 0.75rem;
}

@media (min-width: 640px) {
  p,
  label,
  input,
  textarea,
  select,
  a,
  span {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  p,
  label,
  input,
  textarea,
  select,
  a,
  span {
    font-size: 1rem;
  }
}

button {
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

body {
  background-color: var(--bg-body);
}

header,
footer {
  background-color: var(--bg-header);
}

hr,
input {
  border-color: var(--text-sub);
}

body {
  margin-top: 8em;
}
